// Base – Default HTML tag styling
// Do not put CSS classes or IDs in here




// GLOBAL
// ------

body {
  font-family: $anchorText;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4375; // 23px/16px
}




// TABLES
// ------






// TEXT
// ----

a {
  font-weight: $bold;
  color: $c-primary;

  &:hover {
    color: #0094c6;
    text-decoration: underline;
  }
}

label {

}

p {
  margin-bottom: $scale-base;
  line-height: 1.4375; // 23px/16px
  color: #222;
}

em, i {

}

strong, b {
  font-weight: $bold;
  line-height: inherit;
}


// Headings

h1, h2, h3, h4, h5, h6 {
  color: #4B4342;
  font-family: $headingText;
  margin: 0;
  padding: 0;
}


// Lists


// FORMS
// -----

// Most form styling is handled by Foundation and can be modified in _settings.scss
// But you can override some basic styles here.
textarea {

}

select {

}