// Variables


// COLORS
// ------

$c-primary: #237aba; // Description




// FONT WEIGHTS
// ------------

$normal: 400;
$bold: 700;




// FONT FAMILIES
// -------------

$anchorText: "Palatino", "Times New Roman", serif;
$headingText: "Palatino", $anchorText;




// SCALE
// -----

// Based on golden ratio
$scale-2: .618rem; // 8px
$scale-1: .809rem; // 12.944px
$scale-base: 1rem; // 16px
$scale1: 1.309rem; // 20.943px
$scale2: 1.618rem; // 25.888px
$scale3: 2.118rem; // 33.886px
$scale4: 2.618rem; // 41.887px
$scale5: 3.427rem; // 54.828px
$scale6: 4.236rem; // 67.773px
$scale7: 5.545rem; // 88.712px
$scale8: 6.854rem; // 109.657px
$scale9: 8.971rem; // 143.536px